.product {
  display: flex;
  flex-direction: column;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
